*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura;
    color: azure;
}

html,body {
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(248, 152, 128);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 480px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
}
#storyan{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storyan::-webkit-scrollbar{
    display: none;
}
.story{
    border: 3px solid red;
    /* background: linear-gradient(yellow orange rgb(197, 72, 92) purple blue); */
    /* padding: 2px; */ 
    height: 90px;
    border-radius: 50%;
    width: 90px;
    overflow: hidden;
    display: inline-block;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}